<!-- TODO: implement template -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Patajac Instrukcije - {{ title }}</title>
</head>

<body>
	<header>Patajac Instrukcije</header>
	<a href="../posts.html">Back</a>
	<main>
		<div>
			<p>{{ title }}</p>
			<span>{{ date }}</span>
		</div>
		<div>{{ content }}</div>
	</main>
</body>

</html>