// imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// base colors
$charcoal-gray: #3D4243;
$gold: #FFD900;
$pale-white: #FAFAFA;

// colors
$white: $pale-white;
$dark: $charcoal-gray;
$main: $gold;
$bland-dark: rgba($dark, .6);

// fonts
$main-font: "Poppins", sans-serif;

// vars
$navbar-vertical-offset: 5rem;
$navbar-vertical-offset-mobile: 4rem;
$logo-size: 3.5rem;

// smooth scrolling
html {
	scroll-behavior: smooth;
}

// set fonts
* {
	font-family: $main-font;
}


// set colors
* {
	color: $dark;
}

// fix navbar covering content
.has-navbar-fixed-top {
	padding-top: $navbar-vertical-offset !important;
}

// expand body to enforce footer at bottom
body {
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


// link hover behaviour
a {
	transition: transform 250ms;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.navbar {
	background-color: $dark;

	// center logo in wrapping link
	#logo-container {
		display: flex;
		justify-content: center;
		align-items: center;

		// set logo size
		#logo {
			width: $logo-size;
			height: $logo-size;
		}
	}
}


.navbar.has-shadow {
	box-shadow: 0 2px 0 0 $main;
}

main {
	strong {
		color: $dark;
	}
}


footer.footer {
	background-color: $dark !important;
	padding-bottom: 2rem;

	* {
		color: $white !important;
	}

	h3.subtitle {
		width: fit-content;
	}
}

// footer social media listings
.social-link {
	display: flex;
	align-items: center;

	margin-bottom: 1rem;


	span.social-label {
		margin-left: .5rem;

		&:hover {
			color: $main;
		}
	}
}


// highlight underline
.highlight-underline {
	position: relative;

	&::after {
		content: '';
		background-color: $main;
		width: 120%;
		height: .1em;
		position: absolute;
		bottom: -10px;
		left: 0;
	}
}

.highlight-underline-shorter {
	@extend .highlight-underline;

	&::after {
		width: 100%;
	}
}



// smaller screens
@media (max-width: 1024px) {

	// fix navbar covering content
	.has-navbar-fixed-top {
		padding-top: $navbar-vertical-offset-mobile !important;
	}

	// keep header logo centered on small screens
	.navbar {
		display: flex;
		justify-content: center;
	}

	// add space above and below logo
	#logo-container {
		padding: 1rem;
	}
}

// even smaller screens
@media (max-width: 768px) {

	// remove scaling on small screens
	a {
		&:hover {
			cursor: pointer;
			transform: none;
		}
	}

	footer.footer {
		padding-bottom: 3rem;

		.container {
			flex-direction: column;

			div:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}

		.social-link {
			margin-bottom: 0;
		}
	}
}