@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

.is-family-monospace {
  font-family: "Ubuntu Mono", monospace !important;
}

* {
  color: #3D4243;
}

.has-navbar-fixed-top {
  padding-top: 5rem !important;
}

body {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  transition: transform 250ms;
}
a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navbar {
  background-color: #3D4243;
}
.navbar #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar #logo-container #logo {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar.has-shadow {
  box-shadow: 0 2px 0 0 #FFD900 !important;
}

main strong {
  color: #3D4243;
}

footer.footer {
  background-color: #3D4243 !important;
  padding-bottom: 2rem;
}
footer.footer * {
  color: #FAFAFA !important;
}
footer.footer h3.subtitle {
  width: -moz-fit-content;
  width: fit-content;
}

.social-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.social-link span.social-label {
  margin-left: 0.5rem;
}
.social-link span.social-label:hover {
  color: #FFD900 !important;
}

.highlight-underline {
  position: relative;
}
.highlight-underline::after {
  content: "";
  background-color: #FFD900 !important;
  width: 120%;
  height: 0.1em;
  position: absolute;
  bottom: -10px;
  left: 0;
}

@media (max-width: 1024px) {
  .has-navbar-fixed-top {
    padding-top: 4rem !important;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  #logo-container {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  a:hover {
    cursor: pointer;
    transform: none;
  }
  footer.footer {
    padding-bottom: 3rem;
  }
  footer.footer .container {
    flex-direction: column;
  }
  footer.footer .container div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  footer.footer .social-link {
    margin-bottom: 0;
  }
}
html {
  scroll-padding-top: 5rem;
}

.navbar {
  transition: box-shadow 250ms;
}
.navbar * {
  color: #FAFAFA;
}

.hero {
  background-color: #3D4243;
}
.hero .hero-body {
  display: flex;
}
.hero .hero-body * {
  color: #FAFAFA;
}
.hero .hero-body .is-primary {
  color: #FFD900 !important;
}
.hero .hero-body .hero-content {
  width: 75%;
}
.hero .hero-body .hero-img {
  border: 1px solid #FFD900 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.dark {
  background-color: #3D4243;
}
section.dark * {
  color: #FAFAFA;
}

#offers .offer-card-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: #FFD900 !important;
  padding: 1rem;
}
#offers .offer-card-list .offer-card {
  background-color: #3D4243;
  padding: 0 1rem;
  border-radius: 1rem;
}
#offers .offer-card-list .offer-card * {
  color: #FAFAFA;
}
#offers .offer-card-list .offer-card .card-header {
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #FFD900 !important;
}
#offers .offer-card-list .offer-card .card-header .icon {
  margin-top: 0.5rem;
}
#offers .offer-card-list .offer-card .card-content ul {
  list-style-type: disc;
}
#offers .offer-card-list .offer-card .card-content li {
  font-weight: 500;
}
#offers .offer-card-list .offer-card .card-content li::marker {
  color: #FFD900 !important;
}

.buffer {
  height: 100vh;
}

@media (max-width: 1024px) {
  .hero-img {
    display: none !important;
  }
  .bookmark {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  #offers .offer-card-list {
    flex-direction: column;
    align-items: center;
  }
  #offers .offer-card-list .offer-card {
    width: 300px;
  }
  #offers .offer-card-list .offer-card:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .animated {
    animation: none !important;
  }
}
.aos,
.aos-collection > * {
  opacity: 0;
}

.animated {
  animation-delay: 250ms;
  animation-duration: 500ms;
  animation-name: animate;
  animation-fill-mode: backwards;
  opacity: 1;
}

.animated-stagger-0 {
  animation-delay: 0ms;
}

.animated-stagger-1 {
  animation-delay: 250ms;
}

.animated-stagger-2 {
  animation-delay: 500ms;
}

.animated-stagger-3 {
  animation-delay: 750ms;
}

.animated-stagger-4 {
  animation-delay: 1000ms;
}

.animated-stagger-5 {
  animation-delay: 1250ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=landing.css.map */