@use 'base';

html {
	scroll-padding-top: base.$navbar-vertical-offset;
}

.navbar {
	transition: box-shadow 250ms;

	* {
		// TODO: keep primary everywhere?
		color: base.$white;
	}
}


.hero {
	background-color: base.$black;

	.hero-body {
		display: flex;
		padding-top: 12rem !important;

		* {
			color: base.$white;
		}

		.is-primary {
			color: base.$primary;
		}

		.hero-content {
			width: 75%;
		}

		.hero-img {
			width: 100%;
			position: relative;

			svg {
				position: absolute;
				// TODO?: adjust on not-so-big screens
				width: 25px;
				height: 30px;
				top: 15%;
				left: 40%;

				g {
					transform: translateY(-100%);
				}
			}

			img {
				height: 100%;
			}
		}
	}
}

div.dark {
	background-color: base.$black;

	* {
		color: base.$white;
	}
}

main {
	ul {
		list-style-type: disc;
		letter-spacing: .02rem;
	}

	li {
		font-weight: 500;

		&::marker {
			color: base.$primary;
		}

		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}
}

#offers {
	#offers-tech {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding-bottom: 0;

		#offers-tech-desc {
			ul {
				margin-top: 1rem;
				padding-left: 1em;
			}
		}

		#offers-tech-list {
			padding: 1rem;

			p {
				padding-left: 2rem;
			}
		}
	}

	.offer-card-list {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;

		border-radius: 1rem 0 0 1rem;

		.offer-card {
			background-color: base.$black;
			padding: 0 1rem;
			margin: 0 1rem;
			border-radius: 1rem;
			border: 2px solid base.$primary;

			* {
				color: base.$white;
			}

			.card-header {
				flex-direction: column;
				align-items: center;
				border-bottom: 2px solid base.$primary;

				.icon {
					margin-top: .5rem;
				}
			}
		}
	}
}


#free-class {
	display: flex;
	align-items: stretch;

	#free-class-questions {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	&>p {
		text-align: right;
		margin-left: 1rem;
	}
}

// TODO: remove
.buffer {
	height: 100vh;
}

// Media queries

@media (max-width: 1024px) {
	.hero-img {
		display: none !important;
	}

	// no bookmarks on mobile
	.bookmark {
		padding-top: 0;
	}

	#offers {
		.offer-card-list {
			flex-direction: column;
			align-items: center;

			.offer-card {
				width: 300px;

				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.hero .hero-body {
		padding-top: 3rem !important;
	}

	#offers {
		#offers-tech {
			flex-direction: column;

			#offers-tech-list {
				p {
					padding-left: 0;
				}
			}
		}
	}

	#free-class {
		flex-direction: column;

		p {
			margin-left: initial;
			margin-top: 1rem;
			text-align: left;
		}
	}
}

@media (max-width: 1365px) {
	.hero .hero-body .hero-img {
		svg {
			display: none;
			animation: none;
		}
	}
}

@media (min-width: 1920px) {
	.hero .hero-body .hero-img {
		svg {
			left: 388px;
		}
	}
}


// Animations

@media screen and (prefers-reduced-motion: reduce) {
	.animated {
		animation: none !important;
	}
}

.aos,
.aos-collection>* {
	opacity: 0;
}

.animated {
	animation-delay: 250ms;
	animation-duration: 500ms;
	animation-name: animate;
	animation-fill-mode: backwards;
	opacity: 1;
}

@mixin animation-stagger-delay($elemCount) {
	animation-delay: 250ms * $elemCount;
}

// TODO: undo on small screens (since elements are usually vertically stacked and thus not displayed simultaneously
.animated-stagger-0 {
	@include animation-stagger-delay(0);
}

.animated-stagger-1 {
	@include animation-stagger-delay(1);
}

.animated-stagger-2 {
	@include animation-stagger-delay(2);
}

.animated-stagger-3 {
	@include animation-stagger-delay(3);
}

.animated-stagger-4 {
	@include animation-stagger-delay(4);
}

.animated-stagger-5 {
	@include animation-stagger-delay(5);
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translate(0, 20px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

// Hero img steam animation

.steam {
	opacity: 1;
	animation: steam-animation 10s linear 0s infinite;
	animation-fill-mode: backwards;
}

$steam-animation-offset: 50%;

@keyframes steam-animation {
	0% {
		opacity: 0;
		transform: translateY($steam-animation-offset);
	}

	25% {
		opacity: .2;
	}

	50% {
		opacity: .8;
		transform: translateY(0);
	}

	75% {
		opacity: .2;
	}

	100% {
		opacity: 0;
		transform: translateY(-$steam-animation-offset);
	}
}


.steam-1 {
	animation-duration: 10s;
}

.steam-2 {
	animation-duration: 7s;
	animation-delay: 2500ms;
}

.steam-3 {
	animation-duration: 5s;
	animation-delay: 1500ms;
}