@use 'base';

html {
	scroll-padding-top: base.$navbar-vertical-offset;
}

.navbar {
	transition: box-shadow 250ms;

	* {
		// TODO: keep primary everywhere?
		color: base.$white;
	}
}


.hero {
	background-color: base.$black;

	.hero-body {
		display: flex;

		* {
			color: base.$white;
		}

		.is-primary {
			color: base.$primary;
		}

		.hero-content {
			width: 75%;
		}

		.hero-img {
			border: 1px solid base.$primary;
			width: 100%;

			// TODO: test, remove
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

section.dark {
	background-color: base.$black;

	* {
		color: base.$white;
	}
}

#offers {

	.offer-card-list {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;

		background-color: base.$primary;
		padding: 1rem;

		.offer-card {
			background-color: base.$black;
			padding: 0 1rem;
			border-radius: 1rem;

			* {
				color: base.$white;
			}

			.card-header {
				flex-direction: column;
				align-items: center;
				border-bottom: 2px solid base.$primary;

				.icon {
					margin-top: .5rem;
				}
			}

			.card-content {

				ul {
					list-style-type: disc;
				}

				li {
					font-weight: 500;

					&::marker {
						color: base.$primary;
					}
				}
			}
		}
	}
}


// TODO: remove
.buffer {
	height: 100vh;
}

// Media queries

@media (max-width: 1024px) {
	.hero-img {
		display: none !important;
	}

	// no bookmarks on mobile
	.bookmark {
		padding-top: 0;
	}
}

@media (max-width: 768px) {
	#offers .offer-card-list {
		flex-direction: column;
		align-items: center;

		.offer-card {
			width: 300px;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}


// Animations

@media screen and (prefers-reduced-motion: reduce) {
	.animated {
		animation: none !important;
	}
}

.aos,
.aos-collection>* {
	opacity: 0;
}

.animated {
	animation-delay: 250ms;
	animation-duration: 500ms;
	animation-name: animate;
	animation-fill-mode: backwards;
	opacity: 1;
}

@mixin animation-stagger-delay($elemCount) {
	animation-delay: 250ms * $elemCount;
}

// TODO: undo on small screens (since elements are usually vertically stacked and thus not displayed simultaneously
.animated-stagger-0 {
	@include animation-stagger-delay(0);
}

.animated-stagger-1 {
	@include animation-stagger-delay(1);
}

.animated-stagger-2 {
	@include animation-stagger-delay(2);
}

.animated-stagger-3 {
	@include animation-stagger-delay(3);
}

.animated-stagger-4 {
	@include animation-stagger-delay(4);
}

.animated-stagger-5 {
	@include animation-stagger-delay(5);
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translate(0, 20px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}