@use 'base';

.navbar {
	transition: box-shadow 250ms;

	* {
		// TODO: keep primary everywhere?
		color: base.$white;
	}
}


.hero {
	background-color: base.$black;

	.hero-body {
		display: flex;

		* {
			color: base.$white;
		}

		.is-primary {
			color: base.$primary;
		}

		.hero-content {
			width: 75%;
		}

		.hero-img {
			border: 1px solid base.$primary;
			width: 100%;

			// TODO: test, remove
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}


main {}

#offers {

	.offer-card-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;

		background-color: base.$primary;
		padding: 1rem;

		.offer-card {
			background-color: base.$black;
			padding: 0 1rem;
			border-radius: 1rem;

			* {
				color: base.$white;
			}

			.card-header {
				flex-direction: column;
				align-items: center;

				.icon {
					margin-top: .5rem;
				}
			}

			.card-content {

				ul {
					list-style-type: disc;
				}

				li {
					font-weight: 500;

					&::marker {
						color: base.$primary;
					}
				}
			}
		}
	}
}



@media (max-width: 1024px) {
	.hero-img {
		display: none;
	}
}

@media (max-width: 768px) {
	.offer-card-list {
		flex-direction: column;
	}
}